h1 {
  font-family: Arial, sans-serif;
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

li:hover {
  color: red;
}

ol li:nth-child(2n+2) {
  background-color: #E6E6FA;
}

review + p {
  border-color: black;
  border-width: 1px;
}

.logo > img {
  width: 100px;
}

nav {
  display: inline-block;
}

body {
  background-color: #ffcf67;
  line-height: 1.5;
  width: 900px;
  margin: 0 auto;
}

input {
  cursor: pointer;
  outline: none;
}
input:last-child {
  background-color: gold;
}

input:last-child:hover {
  filter: brightness(0.8);
}

 li > a {
  text-decoration: none;
  color: inherit;
}

aside {
  display: inline-block;
  margin-right: 15px;
}

section {
  display: inline-block;
}

form {
  display: block;
}

nav > ul > li {
  padding: 20px;
  display: inline-block;
}

figure {
  font-size: 16px;
  display: inline-block;
}

figure > img {
  width: 300px;
}
/*figure out how to target reviews after submission!*/
/*#reviews {
  font-size: 16px;
  color: inherit;
  align: center;
}*/
