html, section, aside, figure, h3, footer, h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 38px;
  text-align: center;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
  display: inline-block;
}

li:hover {
  color: maroon;
}

ol li:nth-child(2n+2) {
  background-color: lightgrey;
}

review + p {
  border-color: black;
  border-width: 1px;
}

.logo > img {
  width: 100px;
}

nav {
  display: inline-block;
  font-size: 30px;
}

body {
  background-color: #ffcf67;
  line-height: 1.5;
  width: 900px;
  margin: 0 auto;
}

input {
  cursor: pointer;
  outline: none;
}
input:last-child {
  background-color: gold;
}

input:last-child:hover {
  filter: brightness(0.8);
}

 li > a {
  text-decoration: none;
  color: inherit;
}

aside {
  display: inline-block;
  float: left;
  font-size: 20px;
}

section {
  display: inline-block;
}

form {
  display: inline-block;
}

nav > ul > li {
  padding: 20px;
  display: inline-block;
}

figure {
  display: inline-block;
  text-align: center;
  width: 400px;
  border: 10px solid maroon;
  position: relative;
  margin: 20px;
  float: right;
}

figure > img {
  width: 100%;
  display: block;
  height: auto;
}

figcaption {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 5px;
  bottom: 5px;
}
