h1 {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav {
  background: linear-gradient(#FFFFFF, #FF0000);
  padding-right: 2vw;
  text-align: left;
}

li {
  font-size: 2vw;
  padding: 5px;
}

a {
  color: #ff3300;
  display: inline-block;
  text-shadow: 1px 1px #000000;

}
a:hover {
  color: #e7dfdd;
  text-shadow: 1px 1px #000000;
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
