h1 {
  font-size: 44px;
  color: white;
  font-family: 'Ruslan Display', cursive;
}
h2 {
  font-size: 30px;
  color: white;
  font-family: 'Ruslan Display', cursive;
}
p {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}
ul {
  color: white;
}
body {
  text-align: center;
  background: black;
}
canvas {
  border: 1px solid gray;
  cursor: none;
}

button {
  color: white;
  font-size: 16px;
  font-family: 'Ruslan Display', cursive;
  background: green;
  border-radius: 5px;
  border: black;
  padding: 5px;
  margin: 20px;
  width: 100px;
}

#footer-div {

}
